.gallery-container{
  display:block;
  height:100%;
  width: 72vw;
  float:right;
  margin-top: 2em;
  padding: .5em;
  padding-right: 1em;
  text-align: center;
}

@media (max-width: 768px) {
	.gallery-container {

  display:block;
  height:100%;
  width: 90vw;
  float:right;
  margin-top: 2em;
  padding: .5em;
  padding-right: 0em;
  text-align: center;

	}
  #all-gallery, #single-gallery {
      margin-right: 2em;
  }
}

div.imageGridItem:hover{
  opacity: .8;
   -webkit-transition: opacity .35s ease-in-out;
      -moz-transition: opacity .35s ease-in-out;
       -ms-transition: opacity .35s ease-in-out;
        -o-transition: opacity .35s ease-in-out;
           transition: opacity .35s ease-in-out;
}
