.gallery {
	width: 100%;
  /*background-color: #3C3B37;*/

  /*#7f8a93 - grey bluish*/

}
@media (min-width: 768px) {
	.gallery {
		width: 100%;
		height: 100%;
		float: right;
    /*background-color: #3C3B37;*/
	}
}
/*.b-lazy {
    -webkit-transition: opacity 500ms ease-in-out;
       -moz-transition: opacity 500ms ease-in-out;
         -o-transition: opacity 500ms ease-in-out;
            transition: opacity 500ms ease-in-out;
             max-width: 100%;
               opacity: 0;
}
.b-lazy.b-loaded {
               opacity: 1;
}
*/
