
/*-----------MENU CONTAINER--------------*/
.menu {
	background-color: #D1862B;
	display: flex;
}

.menu a {
	color: black;
	text-decoration: none;
}

.menu-container {
	height: 90%;
	width: 85%;
	margin: 0 auto;
}

/*-----------for positioning ICONS--------------*/
#main-menu {
	height: 80%;
	min-height: 90vh;
}
/*-----------Alex Name Section--------------*/
.title {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin:0;
	margin-bottom: -2em;
}
#name {
	font-size: 2.2em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	margin-right: -10px;
	margin-left: 10px;
	color: white;
	text-shadow: 2px 0px 20px #4C3110;
	white-space: nowrap;
}
#job {
	position: relative;
	top: -.7em;
	color: white;
	font-size: 1.5em;
	margin-right: -10px;
	margin-left: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	text-shadow: 2px 0px 20px #4C3110;
	margin-top: -.5em;

}
#name:hover{
	color: lightgrey;
	 -webkit-transition: color .35s ease-in-out;
      -moz-transition: color .35s ease-in-out;
       -ms-transition: color .35s ease-in-out;
        -o-transition: color .35s ease-in-out;
           transition: color .35s ease-in-out;
}
/*-----------Menu Items Section---------------*/
.items p{
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	padding-left: 30px;
}

.items a:hover {
	opacity: .8;
}

.offsetItem {
	font-size: 14px;
	margin-left: 15px;
	margin-bottom: -5px;
}


/*----------DISSAPPEAR LARGE MENU FOR PHONE--------------*/

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

@media (max-height: 560px) {
	.social {
	 display: none;
	}
}


@media (min-height: 559px) {
  /*-----------SOCIAL NAV AT BOTTOM---------------*/
	.social {
		width: 100%;
		max-width: 175px;
		margin: 0 auto;
		font-size: 18px;
		display: flex;
		justify-content: space-around;
		float:left;
	}

	#artstationIco {
		position: relative;
		top: -12px;
		box-sizing: border-box;
		display: flex;
	}
}

/*---------STYLING MENU FOR LARGE---------------*/

@media (min-width: 768px) and (max-width: 1299px) {
	.menu {
		display: block;
		position: fixed;
		overflow: scroll;
		width: 200px;
		height: 100%;
		min-height: 100vh;
		font-weight: 300;
		float: left;
		z-index: 99;
	}
}

@media (min-width: 1300px){
	.menu {
		display: block;
		position: fixed;
		overflow: scroll;
		width: 275px;
		height: 100%;
		min-height: 100vh;
		font-weight: 300;
		float: left;
		z-index: 99;
	}
}
