
/*-----------MENU CONTAINER--------------*/
.menu {
	/*background-color: #303633;*/
	background-color: #D1862B;
	display: flex;
	/*flex-direction: row;*/
	/*justify-content: space-between;*/
}

.menu a {
	/*color: white;*/
	color: black;
	text-decoration: none;
}

.menu-container {
	height: 90%;
	width: 85%;
	margin: 0 auto;
}

/*-----------for positioning ICONS--------------*/
#main-menu {
	height: 80%;
	min-height: 90vh;
	/*margin-bottom: -70px;*/
}
/*-----------Alex Name Section--------------*/
.title {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin:0;
}
#name {
	/*color: #4F6D7A;*/
	font-size: 2.2em;
	/*text-shadow: 4px 0px 25px black;*/
	/*font-family: 'Zilla Slab Highlight', sans-serif;*/
	/*font-family: 'Paduk', sans-serif;*/
	/*font-family: 'Martel Sans', sans-serif;*/
	/*font-family: 'Jaldi', sans-serif;*/
	/*font-family: 'Jomhuria', cursive;*/
	/*font-family: 'Miriam Libre', sans-serif;*/
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	/*font-family: 'Kavivanar', cursive;*/
	margin-right: -10px;
	margin-left: 10px;
	color: white;
	text-shadow: 2px 0px 20px #4C3110;
	white-space: nowrap;



}
#job {
	position: relative;
	top: -.7em;
	/*color: #C0D6DF;*/
	color: white;
	font-size: 1.5em;
	margin-right: -10px;
	margin-left: 15px;
	/*font-family: 'Zilla Slab Highlight', sans-serif;*/
	/*font-family: 'Miriam Libre', sans-serif;*/
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	/*text-shadow: 2px 0px 20px black;*/
	text-shadow: 2px 0px 20px #4C3110;
	margin-top: -.5em;
	/*margin:0;*/
}
#name:hover{
	/*color:#dd6e42;*/
	color: lightgrey;
	 -webkit-transition: color .35s ease-in-out;
      -moz-transition: color .35s ease-in-out;
       -ms-transition: color .35s ease-in-out;
        -o-transition: color .35s ease-in-out;
           transition: color .35s ease-in-out;
}
/*-----------Menu Items Section---------------*/
.items p{
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	padding-left: 30px;
}

.items a:hover {
	/*color: #dd6e42;*/
	opacity: .8;
}

.offsetItem {
	font-size: 8;
	padding-left: 10px;
	margin: 10px;
}

/*-----------SOCIAL NAV AT BOTTOM---------------*/
.social {
	width: 100%;
	max-width: 175px;
	margin: 0 auto;
	font-size: 18px;
	display: flex;
	justify-content: space-around;
	float:left;
}

#artstationIco {
	position: relative;
	top: -12px;
	box-sizing: border-box;
	display: flex;
}

#cvIco {
	width: 25px;
	height: 55px;
	padding-bottom: 30px;
	box-sizing: border-box;
	display: flex;
}


/*----------DISSAPPEAR LARGE MENU FOR PHONE--------------*/

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

/*---------STYLING MENU FOR LARGE---------------*/

@media (min-width: 768px) {
	.menu {
		display: block;
		position: fixed;
		overflow: scroll;
		width: 200px;
		/*max-width: 250px;*/
		/*min-width: 200px;*/
		height: 100%;
		min-height: 100vh;
		font-weight: 300;
		float: left;
		z-index: 99;
	}
}





	/*background-color: #545d82;
	/*background-color: #597889;*/
	/*background-color: #222222;*/
	/*#F7B267;*/
	 /*#EAEAEA;*/
/*
	#DD6E42;*/
	/*background-color: #545768;*/
	/*color: #4665C9;*/
	/*color: #F0A202;*/
