/*#gallery-container {
  position: fixed;
  height:100%;
  overflow: scroll;
	width: 75vw;
  padding: 2em;
}*/

/*#gallery {
  position: fixed;
  width: 90%;
}*/

/*.imageWrapper {
  background-clip: border-box;
}

*/
